---
num_items: &num_items {{ (num_items | int) + 1 }}

experiment:
  _target_: experiments.popularity.Experiment
  metrics:
    auc:
      _target_: revisit_bpr.metrics.RocAucOne

datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: revisit_bpr.datasets.jsonl.Iter
      path: {{ dataset }}/train.jsonl
    collate_fn:
      _target_: revisit_bpr.datasets.jsonl.Collator
      pad:
        - seen_items
    batch_size: 32
    shuffle: false
    pin_memory: true
    num_workers: 1
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: revisit_bpr.datasets.jsonl.Iter
      path: {{ dataset }}/eval.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.OnePosCollator
      num_items: *num_items
    batch_size: 1
    shuffle: false
    pin_memory: true
    num_workers: 1

model:
  _target_: revisit_bpr.models.popularity.Model
  num_items: *num_items
