---
num_items: &num_items {{ (num_items | int) + 1 }}

experiment:
  _target_: experiments.popularity.Experiment
  save_user_metrics: true
  metrics:
    auc:
      _target_: src.metrics.RocAucManySlow
    ndcg@100:
      _target_: src.metrics.NDCG
      topk: 100
    recall@20:
      _target_: src.metrics.Recall
      topk: 20
    recall@50:
      _target_: src.metrics.Recall
      topk: 50
    recall@5:
      _target_: src.metrics.Recall
      topk: 5
    ndcg@10:
      _target_: src.metrics.NDCG
      topk: 10
    recall@10:
      _target_: src.metrics.Recall
      topk: 10
    recall@100:
      _target_: src.metrics.Recall
      topk: 100
    ndcg@5:
      _target_: src.metrics.NDCG
      topk: 5
    ndcg@50:
      _target_: src.metrics.NDCG
      topk: 50
    precision@5:
      _target_: src.metrics.Precision
      topk: 5
    precision@10:
      _target_: src.metrics.Precision
      topk: 10
    precision@50:
      _target_: src.metrics.Precision
      topk: 50
    precision@100:
      _target_: src.metrics.Precision
      topk: 100

datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.Iter
      path: {{ dataset }}/full-train.jsonl
      seen_items_path: {{ dataset }}/full-train-user-seen-items.jsonl
    collate_fn:
      _target_: src.datasets.jsonl.Collator
      pad:
        - seen_items
    batch_size: 128
    pin_memory: true
    num_workers: 1
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.Iter
      path: {{ dataset }}/test-grouped.jsonl
      seen_items_path: {{ dataset }}/full-train-user-seen-items.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.AllItemsCollator
      num_items: *num_items
    batch_size: 512
    shuffle: false
    pin_memory: true
    num_workers: 3

model:
  _target_: src.models.popularity.Model
  num_items: *num_items
