---
num_users: &num_users {{ (num_users | int) + 1 }}
num_items: &num_items {{ (num_items | int) + 1 }}

experiment:
  _target_: experiments.ease.Experiment
  metrics:
    ndcg@100:
      _target_: revisit_bpr.metrics.NDCG
      topk: 100
    recall@100:
      _target_: revisit_bpr.metrics.Recall
      topk: 100
    ndcg@10:
      _target_: revisit_bpr.metrics.NDCG
      topk: 10
    recall@10:
      _target_: revisit_bpr.metrics.Recall
      topk: 10
    auc:
      _target_: revisit_bpr.metrics.RocAucManySlow
    ndcg@5:
      _target_: revisit_bpr.metrics.NDCG
      topk: 5
    recall@5:
      _target_: revisit_bpr.metrics.Recall
      topk: 5
    recall@20:
      _target_: revisit_bpr.metrics.Recall
      topk: 20
    ndcg@50:
      _target_: revisit_bpr.metrics.NDCG
      topk: 50
    recall@50:
      _target_: revisit_bpr.metrics.Recall
      topk: 50
    precision@5:
      _target_: revisit_bpr.metrics.Precision
      topk: 5
    precision@10:
      _target_: revisit_bpr.metrics.Precision
      topk: 10
    precision@50:
      _target_: revisit_bpr.metrics.Precision
      topk: 50
    precision@100:
      _target_: revisit_bpr.metrics.Precision
      topk: 100

optuna:
  model.lambda_weight:
    dtype: float
    low: 10.0
    high: 1000.0

datasets:
  train: {{ dataset }}/full-train.jsonl
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.multae.dataset.Iter
      path: {{ dataset }}/multae-test.jsonl
      num_items: *num_items
    collate_fn:
      _target_: experiments.multae.dataset.Collator
    batch_size: 128
    pin_memory: true
    num_workers: 3

optuna_datasets:
  train: {{ dataset }}/train.jsonl
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.multae.dataset.Iter
      path: {{ dataset }}/multae-eval.jsonl
      num_items: *num_items
    collate_fn:
      _target_: experiments.multae.dataset.Collator
    batch_size: 128
    pin_memory: true
    num_workers: 3

model:
  _target_: revisit_bpr.models.ease.Model
  num_items: *num_items
  lambda_weight: 100.0
