---
num_users: &num_users {{ (num_users | int) + 1 }}
num_items: &num_items {{ (num_items | int) + 1 }}

experiment:
  _target_: experiments.libraries.lightfm.Experiment
  skip_seen: false
  metrics:
    auc:
      _target_: src.metrics.RocAucOne

optuna:
  model.epochs:
    dtype: int
    low: 50
    high: 1000
  model.inner_model.learning_rate:
    dtype: float
    low: !!float 1e-5
    high: !!float 5e-2
  model.inner_model.user_alpha:
    dtype: float
    low: !!float 1e-6
    high: !!float 1e-2
  model.inner_model.item_alpha:
    dtype: float
    low: !!float 1e-6
    high: !!float 1e-2

datasets:
  train: {{ dataset }}/train.jsonl
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: src.datasets.jsonl.Iter
      path: {{ dataset }}/eval.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.OnePosCollator
      num_items: *num_items
    batch_size: 1
    shuffle: false
    pin_memory: true
    num_workers: 1

optuna_datasets:
  train: {{ dataset }}/train.jsonl
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: src.datasets.jsonl.Iter
      path: {{ dataset }}/eval.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.OnePosCollator
      num_items: *num_items
    batch_size: 1
    shuffle: false
    pin_memory: true
    num_workers: 1

model:
  _target_: experiments.libraries.lightfm.Model
  inner_model:
    _target_: lightfm.LightFM
    loss: bpr
    no_components: {{ embedding_dim | int }}
    learning_rate: 0.001
    learning_schedule: adagrad
    user_alpha: 0.0025
    item_alpha: 0.0025
    random_state: {{ seed }}
  num_users: *num_users
  num_items: *num_items
  epochs: 10
  num_threads: 10
