---
num_users: &num_users {{ (num_users | int) + 1 }}
num_items: &num_items {{ (num_items | int) + 1 }}

epochs: {{ epochs | default(70, true) | int }}

experiment:
  _target_: experiments.bpr.Experiment
  early_stopping_metric: ndcg@100
  early_stopping_patience: 13
  metrics:
    ndcg@100:
      _target_: revisit_bpr.metrics.NDCG
      topk: 100
    recall@100:
      _target_: revisit_bpr.metrics.Recall
      topk: 100
    ndcg@10:
      _target_: revisit_bpr.metrics.NDCG
      topk: 10
    recall@10:
      _target_: revisit_bpr.metrics.Recall
      topk: 10
    auc:
      _target_: revisit_bpr.metrics.RocAucManySlow
    ndcg@5:
      _target_: revisit_bpr.metrics.NDCG
      topk: 5
    recall@5:
      _target_: revisit_bpr.metrics.Recall
      topk: 5
    recall@20:
      _target_: revisit_bpr.metrics.Recall
      topk: 20
    ndcg@50:
      _target_: revisit_bpr.metrics.NDCG
      topk: 50
    recall@50:
      _target_: revisit_bpr.metrics.Recall
      topk: 50
    precision@5:
      _target_: revisit_bpr.metrics.Precision
      topk: 5
    precision@10:
      _target_: revisit_bpr.metrics.Precision
      topk: 10
    precision@50:
      _target_: revisit_bpr.metrics.Precision
      topk: 50
    precision@100:
      _target_: revisit_bpr.metrics.Precision
      topk: 100

optuna:
  optimizer.lr:
    dtype: float
    low: !!float 1e-5
    high: !!float 5e-2
  model.reg_alphas.all:
    dtype: float
    low: !!float 1e-6
    high: !!float 1e-2

datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.SparseSamplingInMemoryWithCollator
      path: {{ dataset }}/full-train-with-fold-in.jsonl
      seen_items_path: {{ dataset }}/full-train-with-fold-in-user-seen-items.jsonl
      num_users: *num_users
      num_items: *num_items
      put_on_cuda: true
    batch_size: {{ train_batch_size | int }}
    shuffle: true
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.InMemory
      path: {{ dataset }}/test-grouped.jsonl
      seen_items_path: {{ dataset }}/full-train-with-fold-in-user-seen-items.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.AllItemsCollator
      num_items: *num_items
    batch_size: 128
    shuffle: false
    pin_memory: true
    num_workers: 3

optuna_datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.SparseSamplingInMemoryWithCollator
      path: {{ dataset }}/train-with-fold-in.jsonl
      seen_items_path: {{ dataset }}/train-with-fold-in-user-seen-items.jsonl
      num_users: *num_users
      num_items: *num_items
      put_on_cuda: true
    batch_size: {{ train_batch_size | int }}
    shuffle: true
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: experiments.bpr.dataset.Iter
      path: {{ dataset }}/eval-grouped.jsonl
      seen_items_path: {{ dataset }}/train-with-fold-in-user-seen-items.jsonl
    collate_fn:
      _target_: experiments.bpr.dataset.AllItemsCollator
      num_items: *num_items
    batch_size: 128
    shuffle: false
    pin_memory: true
    num_workers: 3

model:
  _target_: revisit_bpr.models.bpr.Model
  fuse_forward: true
  logits_model:
    _target_: revisit_bpr.models.bpr.MF
    item_bias: {{ item_bias | default(true, true) }}
    user_bias: false
    user_emb:
      _target_: torch.nn.Embedding
      num_embeddings: *num_users
      embedding_dim: {{ embedding_dim | int }}
      padding_idx: 0
    item_emb:
      _target_: torch.nn.Embedding
      num_embeddings: *num_items
      embedding_dim: {{ embedding_dim | int }}
      padding_idx: 0
  reg_alphas:
    all: 0.0001

optimizer:
  _partial_: true
  _target_: {{ optim | default("torch.optim.SGD", true) }}
  lr: 0.001
